@font-face {
    font-family: Imported;
    src: url(../../fonts/chopin-script.regular.ttf);
}

h1{
    font-family: Imported;
    font-size: 30px;
}

.navbar {

}

.container-navbar{
  display : flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}
.logo-main {
  color: #f5b921;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
}